body {
    margin: 0;
}


.nav-logo {
    width: 61px;
    height: 61px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffba08;
    display: grid;
    grid-template-columns: min-content;
}


.nav-item {
    padding-left: 65px;
}


.my-nav li a {
    font-size: 1.5em;
    padding-right: 20px;
}

.fa {
    padding-right: 20px;
    color: #ffba08;

}

.jumbotron {
    color: white;

    height: 700px;
    text-align: center;
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: center;
    background-image: url("https://cutewallpaper.org/21/keyboard-background-wallpaper/Keyboard-Background-Wallpaper-04247-Baltana.jpg");


}

.jumbotron h1 {
    font-size: 100px;
}

.my-header h2 {
    font-size: 50px;

}

h2 {
    margin-top: 100px;
}

.row {
    text-align: center;
}

.header-icon {
    width: 100px;

}

.icons-title {
    font-size: 48px;
    margin-top: 40px;

}

.my-header {
    z-index: 1;
    opacity: .8;
    padding-bottom: 30px;
}


.my-header,
.display-4 {
    font-weight: bolder;
    color: #ffba08;

}

p.about-me-p {
    line-height: 1.7em;
    text-align: center;
    margin-top: 30px;
}

h5 {
    line-height: 3em;
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    margin-bottom: 30px;

}